/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Positioning Classes */

.small {
  width: 100%;
}
.med {
  width: 200%;
  height: 200%;
}
.large {
  width: 200%;
}
.column {
  width: 33%;
  display: inline-block;
  
}
.border_right {
  display: float;
}